.Portfolio {
  text-align: center;
}

.active {
  border-bottom: 1px solid #000;
}

ul {
  padding-left: 0;
  display: block;
  float: left;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px;
  z-index: 100;
  background-color: #fff;
  right: 0;
}

#navbar-brand {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  text-transform: uppercase;
  display: block;
}

.content {
  margin: 100px 0 64px 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
