.Projects {
    width: 100%;
}

ul.Projects {
    margin: 0 0 64px 0;
}

.Projects li {
    width: 50%;
    height: 500px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    float: left;
}
